<div class="comtainer">
    <div class="row">
        <div class="col-6 offset-3 mt-3">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm" *ngIf="hero">
                <div class="form-group mb-3">
                    <label for="name">Name:</label>
                    <input name="name" [(ngModel)]="hero.name" type="text" class="form-control" required
                        #heroName="ngModel">
                    <div class="font-italic text-danger" [hidden]="heroName.valid || heroName.pristine">
                        Invalid Name!
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="address">Address:</label>
                    <input name="address" [(ngModel)]="hero.address" type="text" class="form-control" required
                        #heroAddress="ngModel" pattern="[a-zA-Z0-9-\.]{20,}">
                    <div class="font-italic text-danger" [hidden]="heroAddress.valid || heroAddress.pristine">
                        Invalid Address!
                    </div>

                </div>
                <div class="form-group mb-3">
                    <label for="superpower">Superpower:</label>
                    <select name="superpower" [(ngModel)]="hero.superpower" class="form-control" required>
                        <option *ngFor="let power of superPowers" [value]="power">{{ power }}</option>
                    </select>
                </div>
                <button [disabled]="heroForm.form.valid" type="submit" class="btn btn-success btn-block mt-3">Save
                    modification(s)</button>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h1>Hero details:</h1>
            <ul [appHighlight]="'blue'">
                <li>
                    <p *appDelay='1500'>{{ hero.name | prefix }}</p>
                </li>
                <li>
                    <p *appDelay='2800'>{{ hero.address }}</p>
                </li>
                <li>
                    <p *appDelay='4000'>{{ hero.superpower }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>