<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>List of Heroes</h1>
            <ul>
                <li *ngFor="let hero of heroList | async">
                    <button (click)="setHero(hero)" class="btn btn-info my-1">{{hero.name}}</button>
                </li>
            </ul>
            <app-hero-detail *ngIf="myHero" [hero]="myHero"></app-hero-detail>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <h3 class="text-center">Table of Heroes</h3>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th class="text-center text-success">#</th>
                        <th class="text-center text-success">Name</th>
                        <th class="text-center text-success">Address</th>
                        <th class="text-center text-success">Superpower</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of heroList | async">
                        <td class="text-center text-secondary">{{ hero.id }}</td>
                        <td class="text-center text-secondary">{{ hero.name }}</td>
                        <td class="text-center text-secondary">{{ hero.address }}</td>
                        <td class="text-center text-secondary">{{ hero.superpower }}</td>
                        <td><button (click)="jumpToHero(hero)" class="btn btn-primary">Details</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>